<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <form name="ctrl.form" ng-submit="ctrl.submit()" novalidate>
            <div class="form-group" align="center">
                <h3>Log In</h3>
            </div>
            <br />
            <div class="form-group" ng-class="{'has-feedback': !ctrl.form.username.$pristine, 'has-error': !ctrl.form.username.$pristine && ctrl.form.username.$invalid, 'has-success': !ctrl.form.username.$pristine && ctrl.form.username.$valid}">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" ng-model="ctrl.username" required>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!ctrl.form.username.$pristine && ctrl.form.username.$valid"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="!ctrl.form.username.$pristine && ctrl.form.username.$invalid"></span>
                <label class="text-danger" ng-show="!ctrl.form.username.$pristine && ctrl.form.username.$error.required">Please enter your username!</label>
            </div>
            <div class="form-group" ng-class="{'has-feedback': !ctrl.form.password.$pristine, 'has-error': !ctrl.form.password.$pristine && ctrl.form.password.$invalid, 'has-success': !ctrl.form.password.$pristine && ctrl.form.password.$valid}">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" ng-model="ctrl.password" required>
                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="!ctrl.form.password.$pristine && ctrl.form.password.$valid"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="!ctrl.form.password.$pristine && ctrl.form.password.$invalid"></span>
                <label class="text-danger" ng-show="!ctrl.form.password.$pristine && ctrl.form.password.$error.required">Please enter your password!</label>
            </div>
            <div class="alert alert-danger alert-dismissible" ng-if="ctrl.error">
                <button type="button" class="close" data-dismiss="alert" ng-click="delete ctrl.error"><span>&times;</span></button>
                <strong>Error:</strong> {{ctrl.error}}
            </div>
            <div class="form-group" align="center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <br />
        <div class="form-group" align="center">
            <span class="text-info">Don't have an account?</span>
            <a ng-href="/" role="button"> Sign Up!</a>
        </div>
    </div>
</div>
